{
	"discord": {
		"token": "token here",
		"guild": "guild id here"
	},

	"commandPrefix": "!",

	"toggleableRoles": [
		"Programmer",
		"Modeler",
		"Eventer",
		"Builder",
		"Audio",
		"DLL/Game Injection",
		"PC",
		"Mac",
		"Linux",
		"Server Host",
		"Mentionable Programmer",
		"Mentionable Modeler",
		"Mentionable Eventer",
		"Mentionable Builder",
		"Mentionable Audio",
		"Mentionable Server Host"
	],

	"channels": {
		"commands": "628894094633992193"
	},

	"moderationRoles": [
		"629080779544199188"
	],

	"muteRole": "629198727902527508",

	"staffChannel": "628894732701007873",

	"voiceCategory": "629244531073613825"
}